.phone-card{

  background-color:rgb(255, 255, 255);
  border-width: 0px;
  border-radius: 10px !important;
  transition: 0.2s ease-in-out;
  scale: 0.95;
  color: #141414;
  }
  
  .intro-header{
    width: 100%;
    padding-top: 40px;
    padding-bottom: 100px;
    background: linear-gradient(135deg, #4451e6, #1b258d);
    background-size: 100% 100%;
    position: relative
  }

  .ratedExcellent {
    margin: auto;
    font-size: 18px;
    max-width: fit-content;

  }

  .tpDiv{

  }
.phoneCluster{
  position: absolute;
  z-index: 0;
  opacity: 50%;
  transform: translateY(-30px);
}

.phoneCluster2{
  
  transform: translate(-465px, 300px);
  z-index: 0;
  scale: 110%;
}


.homebtn{
  margin: auto;
}

.callContainer{
  position: relative;
  z-index: 10;
}

.btn-orderTrack{
  background-color: #1b258d;
  color: #ffffffec;
}

.btn-orderTrack:hover{
  background-color: #3943b8;
  color: #ffffff;
}

  .faq-item {
    margin-bottom: 20px;
}
.faq-item h2 {
    font-size: 1.2em;
    color: #007BFF;
    margin: 0;
    font-weight: bold;
}
.faq-item p {
    margin: 10px 0;
}
.faq-item p:first-of-type {
    font-weight:400 ;
}

  .cat-h-text{
    padding: 10px;
  }
  .cat-p{
    max-width: 50%;
    margin: auto;
    
  }

.card-group{
  margin: auto;
  margin-top: 5vh;
  max-width: 60%;
  border-radius: 20px;
  z-index: 1;
}

.cat-container{
width: 100%;
}

.cat-div{
  display: flex;
  margin: auto;
}
.img-fluid{
  width: 400px;
  height: 400px;
}

.intro-title {
  z-index: 10;
  position: absolute;
  margin:auto;
  left: 50%;
  transform: translate(-50%, -150%);
  color: white;
  cursor: pointer;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  transition: 0.4s;
  padding: 10vh;
  border-radius: 10px;
  filter: blur(10px) drop-shadow(0px 10px 36px #ff0000);
}

.intro-title:hover{
  transform: translate(-50%, -160%);
  filter: blur(0px)drop-shadow(0px 10px 45px #ffffff);
}

.title-container{
  position: relative;
  z-index: 10;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.sell-btn{
  padding: 20px;
  width: 360px;
}


.phone-card:hover{
    transform: scale(1.05);
    filter: drop-shadow(0px 0px 13px #86c8e4);
}

.device-image{
    max-width: 50%;
}


.card-img-top{
    max-width: min-content;
    margin: auto;
}

@media (min-width: 768px) {
  .phoneCluster2{
  
    transform: translate(-565px, 100px);
    scale: 90%;

  }
  
}

@media (min-width: 1400px) {
  .phoneCluster2{
  
    transform: translate(-865px, 100px);
    scale: 90%;


  }

.phoneCluster3{
  transform: translateX(400px);
}
  
}


@media (min-width: 768px)and (max-width: 1000px) {
  .search-container{
    max-width: 40%;
  }



}

@media (max-width: 767px) {


  .ratedExcellent{
    margin: auto;
  }

  .card-group{
    box-sizing: unset;
    border-radius: 20px;
  }

    .card{
        background-color:rgb(255, 255, 255);
        border-width: 0px;
        border-radius: 10px;
        transition: transform 0.3s ease-in-out;
        scale: 0.9;
        color: #141414;
        
      }
      
      .phone-card{
        background-color:rgb(255, 255, 255);
        border-width: 0px;
        border-radius: 10px;
        transition: transform 0.3s ease-in-out;
        scale: 0.8;
        color: #141414;
        margin:1px;
      }
      
      
    

    .specialTable{
      max-width: fit-content;
    
  }
}

  @media (max-width: 880px) {
.cat-div{
  display:block;
  margin-left: 16px;
}

}