/* Navbar.css */

.navbar{
    padding:0%;
    padding-top: 10px;
}

.navbar-brand img {
    height: 70px;
  }

.tpLogo{
    height: 35px;
}

.navbar-brandtp{
    height: 40px;
}


  .navbar-light .navbar-nav .nav-link {
    color: #000;
  }
  
  .navbar-light .navbar-nav .nav-link:hover {
    color: #007bff;
  }

  button.nav-link:hover{
    background-color: aliceblue;
  }
  

  .navbar-toggler-icon {
    width: 1rem; 
    height: 1rem; 
    vertical-align: unset;
  }

.trustpilot-navbar{
    padding: 10px;
}